* {
	background-color: #050a10 !important;
	background-image: none !important;
	color: #1e5eb3 !important;
	border-color: #1e5eb3 !important;
}
h1,h2,h3,h4 {
	color: #31364b !important;
}
a,a>*,button,button>* {
	color: #777b8e !important;
}
input,textarea{
	border: 2px solid #1e5eb3 !important;
}

.c5a, .c5a >*, .c5a a:link, .c5a a:visited { color:#173173 !important; }
.c73, .c73 >*, .c73 a:link, .c73 a:visited { color:#173173 !important; }
.c82, .c82 >*, .c82 a:link, .c82 a:visited { color:#173173 !important; }
.c88, .c88 >*, .c88 a:link, .c88 a:visited { color:#173173 !important; }
.c9c, .c9c >*, .c9c a:link, .c9c a:visited { color:#173173 !important; }
.cae, .cae >*, .cae a:link, .cae a:visited { color:#173173 !important; }
.cbe, .cbe >*, .cbe a:link, .cbe a:visited { color:#173173 !important; }
.cce, .cce >*, .cce a:link, .cce a:visited { color:#173173 !important; }
.cdd, .cdd >*, .cdd a:link, .cdd a:visited { color:#173173 !important; }

.highlight, .highlight >*, .highlight >*>*, .highlight >*>*>*, .highlight >*>*>*>*, .highlight >*>*>*>*>* {
	background-color: #0a2126 !important;
	color: #ffffff !important;
}
