span[vimbhint^='label'] {
	background-color:#0c0a1499 !important;
	color:#fff !important;
	border:0 !important;
	opacity:1 !important;
	padding:1px !important;
	text-transform:uppercase !important;
	font-size:16px !important;
}
*[vimbhint^='hint'] {
	background-color:#0c0a1433 !important;
	color:#888 !important;
}
*[vimbhint^='hint focus'] {
	background-color:#0c0a1433 !important;
	color:#aaa !important;
}
*{
border-radius:0 !important;
}
body::-webkit-scrollbar {
display: none;
}
